<app-fond-ecran>
  <div>
    <a [routerLink]="['/mail']">
      <img
        src="https://images.wakelet.com/resize?id=HyZbI-lzRyUQJoxFDWWLb&h=512&w=512&q=85"
        alt="Mail"
        class="mail"
      />
    </a>
  </div>

  <div>
    <a [routerLink]="['/document']">
      <img
        src="https://images.wakelet.com/resize?id=qcXF1vMP5K-7kocIWXQ_1&h=512&w=512&q=85"
        alt="Document"
        class="document"
      />
    </a>
  </div>

  <div>
    <a [routerLink]="['/internet']">
      <img
        src="https://images.wakelet.com/resize?id=rwZwyAujXrcJQLYVnAfQx&h=512&w=512&q=85"
        alt="Internet"
        class="internet"
      />
    </a>
  </div>
</app-fond-ecran>
