.background {
  background-image: url("https://images.wakelet.com/resize?id=6ie9BOV_5i_nLwh6YTx4u&h=876&w=1891&q=85");
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* ou la hauteur souhaitée */
  position: relative;
}
